<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "index.html" %}

{% block content %}


<div class="col-lg-12 mb-4">

    {% for list_type,btn_class in buttons.items() %}

    <a data-toggle="button" href="{{ url_for('homepage', list_movies=list_type)}}" class="{{ btn_class[0] }}">{{ btn_class[1] }}</a>

    {% endfor %}

</div>


<div class="container">
  <div class="row">
{% for movie in movies %}
<div class="col">
    <div class="card h-100">
        <img class="card-img-top" src="{{ tmdb_image_url(movie.poster_path, "w780") }}" alt="">
        <div class="card-body">
            <h4 class="card-title">{{movie['original_title']}}</h4>
        </div>
        <div class="card-footer text-center">
            <a href="/movie/{{ movie.id }}" class="btn btn-primary">Pokaż więcej</a>
        </div>
</div>
    </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
</body>
</html>