<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "index.html" %}



{% block content %}
<h2 class="nav-link">Wyniki wyszukiwania dla: {{ search_query }}. </h2>
<div class="container">
  <div class="row">
{% for movie in movies %}
<div class="col">
    <div class="card h-100">
        <img class="card-img-top" src="{{ tmdb_image_url(movie.poster_path, "w780") }}" alt="">
        <div class="card-body">
            <h4 class="card-title">{{movie['original_title']}}</h4>
        </div>
        <div class="card-footer text-center">
            <a href="/movie/{{ movie.id }}" class="btn btn-primary">Pokaż więcej</a>
        </div>
</div>
    </div>

{% endfor %}
      </div>
    </div>

{% endblock %}

</body>
</html>